.signup-img img {
    max-width: 100%;
    height: auto;
}

.razorpay-payment-button.svelte-ohbfj8 {
    position: relative;
    left: 140px;
    bottom: 60px;
}

@media screen and (max-width: 400px) {
    .razorpay-payment-button.svelte-ohbfj8 {
        position: absolute !important;
        top: 1100px !important;
        left: 80px !important;
        /* right: -30px !important; */
    }
}


/* @media (min-width: 410px) and (max-width: 900px) {
    .razorpay-payment-button.svelte-ohbfj8 {
        position: absolute !important;
        top: 1440px;
        right: 190px;
    } 


}*/

.highlight1 {
    background-color: #a2f395;
    text-decoration: solid;
    font-weight: 700;
}